
ul{
 font-family: seri;
 font-size: 100%;
 color: #8B008B;
}

aside{
 background-color:#4B0082;
 margin: 20px;
 border-radius: 5px;
 padding: 30px;
 font-size:105%;
 float:right;
 width: 280px;
} 
 
h1 {
 font-size: 180%;
 color:#4682b4;
 }
aside{
 background-color:#ffb6c1;
 margin: 35px;
 border-radius: 5px;
 padding: 30px;
 font-size: 180%;
 float: center;
 width: 300px;
}

