ul{ 
  color: olive
    font-size: 160%;
  font-family: Comic Sans Ms, Seri;
}
    

    aside {
  background-color:#F5DEB3	;
  font-size: 300%;
  width: 300px;
}

h1 { 
  font-size: 100%;
  color:olive;}
