h2 { 
  font-size: 160%;
  color:olive;}


ul{ 
  color: olive
    font-size: 180%;
  font-family: Comic Sans Ms, Seri;
}
    

    aside {
  background-color: #4682b4;
  font-size: 105%;
  width: 300px;
}
